.text-left {
    text-align: left;
}

.new-filter-wrap {
    background: #fff;
    border: 1px solid #d4dfe5;
    padding: 20px 30px;
    position: relative;
}

.custom-wrap {
    width: 100%;
    padding-right: 120px;
}

.filter-wrap {
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -15px;
}

.filter-option {
    padding: 10px 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    position: absolute;
    top: 40px;
    right: -30px;
}

.filter-option-wrap {
    width: 360px;
    padding: 10px 20px;
}

.filter-option-wrap .ivu-select-placeholder {
    text-align: left;
}

.filter-item {
    width: 140px;
    margin: 10px;
}

.multiple-filter-item {
    width: 300px;
    margin:10px;
}

.sep-line {
    background: #D4DFE5;
    display: block;
    height: 1px;
    width: 100%;
}

.union-select-item {
    margin:10px;
}

.union-select-wrap {
    width:300px;
    position: relative;
}

.union-link {
    position: absolute;
    width:8px;
    left: -3px;
    top: 25px;
    bottom: 25px;
    border:1px solid #ccc;
    border-right:none;
    border-radius: 4px 0 0 4px;
}
.filter-icon-wrap{
    position:absolute;
    height:20px;
    top:50%;
    margin-top:-10px;
    left:50%;
    margin-left:-12px;
    background:#fff;
    padding:2px 0;
}
