<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>Webpack App</title>
    <meta charset="UTF-8">
    <script src="./lib/vue.min.js"></script>
</head>

<body>
    <div id="app">
        {{ message }}
        {{reverseMessage}}
    </div>
    <div id="app-2">
        <span v-bind:title="message">
            heheda
        </span>
    </div>
    <div id="app-3">
            <template v-for="(todo,key,index) in todos" :key={{todo.id}}>
                <div>{{key}}</div>
                <div>{{index}}</div>
                <span>{{todo.text}}</span>
            </template>
    </div>
    <div id="app-4">
        <ol>
            <todo-item v-for="todo in todos" v-bind:todo="todo">
            </todo-item>
        </ol>
    </div>
    <div id="example-2">
  <button v-on:click="greet">Greet</button>
</div>
</body>
<script type="text/javascript">
  var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!'
  },
  computed:{
      reverseMessage:function(){
          return this.message.split('').reverse().join('');
      }
  }
});
var app2=new Vue({
    el:"#app-2",
    data:{
        message:'You loaded this page on ' + new Date()
    }
})
var app3=new Vue({
    el:"#app-3",
    data:{
        todos:[
            { id:1,text: 'Learn JavaScript' },
            { id:2,text: 'Learn Vue' },
            { id:3,text: 'Build something awesome' }
        ]
    }
});
Vue.component('todo-item',{
    props:['todo'],
    template:'<li>{{todo.text}}</li>'
})
var app4=new Vue({
    el:"#app-4",
    data:{
        todos:[
            { text: 'Learn JavaScript' },
            { text: 'Learn Vue' },
            { text: 'Build something awesome' }
        ]
    }
});
var example2 = new Vue({
  el: '#example-2',
  data: {
    name: 'Vue.js'
  },
  // 在 `methods` 对象中定义方法
  methods: {
    greet: function ($event) {
      // `this` 在方法里指当前 Vue 实例
      alert('Hello ' + this.name + '!')
      // `event` 是原生 DOM 事件
      console.log($event);
    }
  }
})
</script>

</html>